html, body {
  margin: 15px;
  padding: 0;
  height: 100%;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
body {
  font-size: 17px;
  background-color: #000;
  color: #888;
}
a {
  color: #099;
}
h2 {
  font-size: 22px;
  padding: 6px 0 3px;
  margin: 0;
}
ul {
  list-style: outside disc;
  margin: 0 0 30px -20px;
}
ul li {
  display: list-item;
  padding: 0 0 3px 5px;
  font-size: 17px;
}
li > a {
  display: inline;
  font-size: inherit;
}
